target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.idea/
.eclipse/
*.iml
*.ipr
*.iws
target/
classes/
*~
listing/
*.versionsBackup
*.patch
.settings.xml
.project
.classpath
.settings
gwt-unitCache
output.zip